[submodule "external/opencv"]
	path = external/opencv
	url = https://github.com/opencv/opencv.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
